# MISC
pytest
pydantic

# MLX & Whisper
mlx
mlx-lm
numba
numpy
torch
tqdm
more-itertools
tiktoken==0.3
huggingface_hub
scipy

# MeloTTS
g2p_en
cached_path

# Main
pyaudio
playsound
webrtcvad
sounddevice